@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Indie+Flower&family=Open+Sans+Condensed:wght@300&display=swap');
body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
*{
    margin:0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after{
box-sizing: border-box;
}
.preloader{
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 150;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align:center ;
    align-items: center;
    -ms-flex-pack:center ;
    -webkit-transition: all 10s ease;
    transition: all 10s ease;
    justify-content: center;

}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(var(--bounce-height));
  }
}

.box {
  width: 60px;
  height: 60px;
  background: var(--bg);
  border-radius: 50%;
  will-change: transform;
}

/*
  If you're not seeing the boxes bounce, you
  might have "reduce motion" selected in your OS!
*/
@media (prefers-reduced-motion: no-preference) {
  .box {
    animation:
      bounce var(--animation-duration)
      infinite alternate
      cubic-bezier(.2, .65, .6, 1);
  }
}

.box.one {
  --bounce-height: -40px;
  --animation-duration: 400ms;
  --bg: #C2FFD9;
}


.preloader.opacity-0{
    opacity: 0.7;
}
/* NAVBAR LOGOS */
/* Navbar 1 logos */
#logo_1 {
  width: 150px;
  height: 70px;
}
#logo_2 {
  width: 120px;
  height: 50px;
}
#logo_3 {
  width: 120px;
  height: 100px;
}

/* Navbar 2 logos */
.rcgcect_logo{
  height: 100px;
  width: 250px;
}



/*sticky bar*/
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a.facebook {
  background: #3B5998;
  color: white;
}

.icon-bar a.mail {
  background: #55ACEE;
  color: white;
}

.icon-bar a.insta {
  background: orange;
  color: white;
}

.icon-bar a.linkedin {
  background: #007bb5;
  color: white;
}

.icon-bar a:hover {
  opacity: 50%;
}

/*navigation*/
.navbar_1 {
  background-color: rgb(194, 255, 217);
}

/* Navbar 1 logos */
#logo_1 {
  width: 150px;
  height: 70px;
}
#logo_2 {
  width: 120px;
  height: 50px;
}
#logo_3 {
  width: 120px;
  height: 100px;
}
/*navbar 2*/
.navbar .navbar-nav .nav-link:hover {
  color: #000000;
}
@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
  .navbar {
    padding: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
}
.navbar .navbar-nav .nav-link {
  position: relative;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000000;
  color: transparent;
  width: 0%;
  content: '';
  height: 3px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

/*intro*/
.intro img{
  min-height: 350px;
  margin: 0% 12%;
}
.textimg{
  padding: 15%;
}
.img1, .textimg{
  width: 100%;
}
.motto p{
  position: relative;
  width: 100%;
  font-size: 4em;
  font-family: 'Style Script', cursive;
}
/*events*/
.events{
  padding: 2% 15%;
}
.eventname{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.tablinks {
  margin-right: 1%;
  background-color: #FDEFEF;
  color: black;
  float: left;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 14px 25px;
  transition: 0.3s;
  margin-bottom: 5px;

}
.jumbotron{
  background-color: white;
}
h5.eventname{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;

}

.tab {
  overflow: hidden;
}
.tab button {
  background-color: #FDEFEF;
  color: black;
  float: left;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 14px 25px;
  transition: 0.3s;
  margin-bottom: 5px;

}

@media (max-width: 992px) {
  .tab button{
    padding: 7px 12px;
  }
}

.tab button.last-item{
  margin-bottom: 0;

}
.tab button.active {
  color: black;
  background-color: #C7BFB1;
  font-weight: 500;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.imghv{
  width: 80%;
}

summary{
  font-family: 'Roboto', sans-serif;
}
/*team*/

.our-team{
    border-radius: 15px;
    text-align: center;
    padding: 20px 15px 30px;
    background: #fff;

}
.our-team .pic{
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background: #17bebb;
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.row .first{
  margin: auto;
}
.our-team .title{
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    color: #2e282a;
    display: block;
    font-size: 20px;
    margin: 0 0 7px 0;
}
.our-team .post{
    color: #17bebb;
    font-family: 'Open Sans Condensed', sans-serif;
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}
.our-team:hover .pic{
    background: #17bebb;
    border-radius: 50%;
}

/*team*/
h1, h4{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.team-mem{
  padding: 3% 10%;
}

/* ABOUT US */
.about_us_text{
  padding: 2% 13%;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
}

.aboutimage{
  max-width: 400px;
  float: right;
}


/*social*/
.footer-container {
  align-items: center;
  padding: 20px 0 30px;
}
.fa-icon {
  color: #000;
  width: 16px;
  height: 16px;
  display: inline-block;
  line-height: 14px;
  font-size: 8px;
  text-align: center;
}
.fa-icon.fa-icon-2x {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  color: gray;
}
.linked-in:hover{
	color:  #007bb5;
}
.instagram:hover{
	color:  #fd8c04;
}
.facebook:hover{
	color: rgba(0, 0, 255, 0.61);
}
.mail:hover{
	color: blue;
}

.attribute{
  	text-align: center;
  }
.social-accunts{
	text-align: center;
}

 footer ul:first-child li{
  list-style-type: none;
  display: inline-grid;
  margin-right: 2%;
}
footer li .fab{
  padding: 1%;
  padding-left: 5%;
}

.made{
  text-align: center;
}
.attribution, .attribution a{
  color: lightgray;
  float: right;
}
.attribution a:hover{
  color: lightgray;
}





.slide-in-left {
  -webkit-animation: slide-in-left 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-left 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

